.DS_Store
.idea/
/.netlify
/build
/coverage
artifacts
build/
cache
config.json
cypress/fixtures/example.json
cypress/screenshots
cypress/videos
dist
node_modules
npm-debug.log*
typechain-types
yarn-debug.log*
yarn-error.log*