.emoji {
    font-size: 72px;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.footer-telegram-button {
    border-radius: 1rem;
}

.beyond-uniswap {
    background-image: url("../assets/stats-background.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-color: #1a1b20;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .beyond-uniswap {
        background-size: cover;
    }
}

.beyond-uniswap-text {
    background: rgb(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 60px 60px 45px 60px;
}

.beyond-uniswap-text h2 {
    color: white;
}

.beyond-uniswap-text p {
    color: var(--bs-gray-200);
}

.roadmap-list>li {
    margin-bottom: 16px;
}